export SECRET_KEY="<secret_key>"
export AGENT_JAR_URL="<url>"
export JENKINS_URL="<url>"
export JENKINS_AGENT_NAME="<jenkins_agent_name>"
export JENKINS_AGENT_WORK_DIR="<jenkins_agent_work_dir>"
export JENKINS_AGENT_PATH="<path to agent.jar>"

# to check build status
export JENKINS_DEV_URL="<jenkins_dev_url>"
export JENKINS_DEV_USER="<jenkins_dev_user>"
export JENKINS_DEV_TOKEN="<jenkins_dev_token>"
